:root {
  --blue: #273fad;
  --green: #3fad27;
  --red: #ad273f;
  --background: #121214;
  --shapes: #202024;
  --text-title: #b0bfce;
  --text: #8d9eb3;
  --text-light: #a09cb1;
  --roxo: #8257e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  background-color: #121214;
  color: #121214;
}

input,
textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button,
.checkmark {
  cursor: pointer;
}
